<div class="container">
    <h2>
        BBBKKKASKDJ
    </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat enim, nobis iste nisi, ullam commodi repudiandae dicta magnam error voluptatem incidunt. Dolore eius vel facere exercitationem nostrum fugiat vitae distinctio rerum neque molestiae, eos unde! Doloremque veniam iure ab voluptates sit, reiciendis assumenda praesentium necessitatibus illo totam corrupti. Possimus eveniet quis, dolores totam provident eius culpa ad nulla. Exercitationem dolores quis fuga illum ipsa soluta, laboriosam magnam ex voluptatem odio aspernatur doloremque, dolorem accusamus, voluptas quae sapiente tempora reprehenderit unde.</p>
</div>