.container{
    width: 80%;
    background-color: rgb(229, 229, 229);
    height: 100vh;
    margin: 1rem auto;
    justify-content: space-evenly;
    padding:1rem;

    .stats{
        display: flex;
        margin: 0 auto;
        width: 50%;
        justify-content: space-between;
    }

    h2{
        text-align: center;
        color: white;
        font-size: 3rem;
        text-transform: uppercase;
    }
    p{
        padding-left: 3rem;
        padding-top: 5rem;
        max-width: 60%;
        line-height: 1.5rem;
    }
}

