
<!-- check if cart is open-->
<app-cart *ngIf="cartService.isCartOpen"></app-cart>
<!-- product box with item id -->

    <div class="box" >
        <div class="box-clickable-wrapper" [id]="prod.id" #proID   >
        <!-- product image -->
        <div class="img-container">
            <img [src]="imageSrc" (mouseenter)="imageSrc = prod.img2" (mouseleave)="imageSrc = prod.thumbnail" alt="productPic" />
        </div>
        <!-- product data -->
        <div class="box-content">
            <h2 [routerLink]="['/productDetails', prod.id]">{{ prod.title }}</h2>
            <h3 class="brand" [routerLink]="['/Categories', prod.category]">{{prod.category}}</h3><br/>
            
            <p>{{ prod.description }}</p><br/>
            <h3 class="brand"><span>Rating: </span>{{ prod.rating }}</h3>
            <span class="discount">{{prod.discountPercentage}}%</span>
            <h3 class="price"><span class="promotion"></span>{{ convertPrice(prod.price) }}</h3>
            
        </div>
    </div>    
        <!-- prodcut box btns -->
        <div class="btn-container">
            <button class="btnAdd" (click)="addToCart(proID.id)">
                Add to Cart <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" /></svg>
           
            </button>
            <button class="btnAdd" (click)="goToProductPage(proID.id)" >Go to product</button> 
        </div>
    </div>
   



