$webOrange: rgb(255, 191, 71);

.navigation{
    width:100%;
    background-color: $webOrange;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    overflow: none;
    z-index: 1;
    margin-bottom: 5vh;

    .promo-bar{
        width: 100%;
        background-color: #242424;
        height: 3vh;
        color: white;

    }
    
    .navbar{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            font-size: 2rem;
            font-family: 'poppins';
            cursor: pointer;
        }

        .content{
            font-size: .9rem;
            color: black;

            ul{
                display: flex;

                li{
                    margin: .8rem;
                    cursor: pointer;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 500;

                    &:hover{
                        text-decoration: underline;
                        text-decoration-color: white;
                        text-decoration-thickness: 1px;
                    }

                    span{
                        font-size: .8rem;
                        padding: .3rem;
                        position: absolute;
                        color: white;
                        margin: -.5rem;
                        margin-left: .2rem;
                    }
                }
            }
        }
    }
}