.products{
    width: 100%;
    background-color: #e7e7e7;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
    margin: 1rem auto;
    justify-content: space-evenly;
    border-radius: 1rem;
    padding:1rem;

}